<!-- <div *ngIf="!isAdminLoggedIn && !isStudentLoggedIn">
        <mat-toolbar color="primary" class="navbar">
                <span class="navbar-brand">BONJOUR</span>
                <span class="spacer"></span>
                <button mat-button routerLink="/login" routerLinkActive="active">Login</button>
        </mat-toolbar>
</div>
<div *ngIf="isAdminLoggedIn">
        <mat-toolbar color="primary" class="navbar">
                <span class="navbar-brand">Admin</span>
                <span class="spacer"></span>
                <button mat-button routerLink="/admin/dashboard" routerLinkActive="active">Dashboard</button>
                <button mat-button routerLink="/admin/universite" routerLinkActive="active">POST UNIVERSITE</button>

                <button mat-button (click)="logout()" routerLinkActive="active">Logout</button>

        </mat-toolbar>
</div>
<div *ngIf="isStudentLoggedIn">
        <mat-toolbar color="primary" class="navbar">
                <span class="navbar-brand">Student</span>
                <span class="spacer"></span>
                <button mat-button routerLink="/student/dashboard" routerLinkActive="active">Dashboard</button>
                <button mat-button (click)="logout()" routerLinkActive="active">Logout</button>

        </mat-toolbar>
</div> -->
<!-- <app-list-products></app-list-products> -->
<!-- <app-form></app-form> -->

        <ul class="nav">
                <li class="nav-item">
                        <a class="nav-link active" routerLink="/add">Add</a>
                </li>
                <li class="nav-item">
                        <a class="nav-link active" routerLink="/home">Home</a>
                </li>
                <li class="nav-item">
                        <a class="nav-link active" routerLink="/shop">Shopping Cart</a>
                </li>
               
        </ul>



<router-outlet></router-outlet>
